/*
Examiner's note: I did not use BOX-MODEL in all the code because the page would look ugly with it.
I used another syntax I found on the internet. Naama said it was fine.
*/

<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>if you want to contect me and give me ideas. ill make things you like</title>
</head>
<body background="C:\Users\100ya\OneDrive\Desktop\שנה ג סמסטר ב\WEB\Personal exercises\Yael-Itzhaky\static\pawel-czerwinski-Qiy4hr18aGs-unsplash.jpg">
    <form action="">
<div style="text-align: center ;">

    <h1 style="color: rgb(250, 252, 253); margin: 30px; padding: 30px;">Design your look, your day and your life</h6>
    <h2 style="border: 2px solid rgb(215, 232, 243); color: rgb(142, 44, 161); margin-left: 100px; margin-right: 100px; padding: 10px;">Contect me:)</h2>
    <button style=" background: none ;padding: 10px ; "><a href="file:///C:/Users/100ya/OneDrive/Desktop/%D7%A9%D7%A0%D7%94%20%D7%92%20%D7%A1%D7%9E%D7%A1%D7%98%D7%A8%20%D7%91/WEB/Personal%20exercises/Yael-Itzhaky/templates/home%20page.html">Back to home page</a></button>
    <p style=" margin: 20px ; padding: 10px;">Please send me here what you think of my work, I will be happy for new and original ideas and feedback on the site</p> <P></P> <br>
</div>
   
<fieldset style= "padding-left: 40px ; margin: 100px;" >
    
    <legend >Contact Form</legend> 

    <label style="color: rgb(32, 102, 158);"> your progress:</label><br>
    <progress max="100"value="10">10%</progress><br><br>
    
    <label for="fullname">Full Name:</label>
    <input type="text" id="fullname" name="fullname" required> <br><br>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required> <br><br>
    
    <label for="telephone">Telephone:</label>
    <input type="tel" id="telephone" name="telephone" required pattern="0.*"><br><br>
    
    <label for="satisfaction">Level of satisfaction:</label>
    <input type="range" id="satisfaction" name="satisfaction" min="0" max="10" required> <br><br>
    
    <label style="color: rgb(32, 102, 158);"> Thank you! you have just little bit more :)</label><br>
    <progress max="100"value="40">40%</progress><br><br>

    <label for="topic">Select your topic:</label><br>
    <input type="radio" id="topic" name="topic" required> Technical assistance <br>
    <input type="radio" id="topic" name="topic" required> Get back to me <br>
    <input type="radio" id="topic" name="topic" required> Ideas <br>
    <input type="radio" id="topic" name="topic" required> Other <br><br>

    
    <label for="preference">Select a preference:</label><br>
    <input list= "preference" type="text"><br>
    <datalist id="preference"> 
    <option value="necklace"></option>
    <option value="Rings"></option>
    <option value="Bracelets"></option>
    <option value="Earrings"></option>
    </datalist><br><br>

    <label style="color: rgb(32, 102, 158);"> you almost done!</label><br>
    <progress max="100"value="70">70%</progress><br><br>

    
    <textarea name="thoughts" id="thoughts" cols="50" rows="10" placeholder="penny for your thoughts:)"></textarea> <br><br>
    
    <input type="checkbox" id="agree" name="agree" required> 
    <label for="agree">Agree to send messages and promotions</label><br><br>
    
    <label style="color: rgb(32, 102, 158);"> that's it! Just click "send" and I will read your response</label><br>
    <progress max="100"value="100">100%</progress><br><br>

    <input type="submit" value="Send"><br><br>
</fieldset >
<div style="text-align: center ">


    <footer style="margin: 10px ; padding: 10px;">
        <h3 style="color: rgb(114, 74, 160);">FOOTER:</h3>
        <li style="color: rgb(179, 178, 228);" ><a href="file:///C:/Users/100ya/OneDrive/Desktop/%D7%A9%D7%A0%D7%94%20%D7%92%20%D7%A1%D7%9E%D7%A1%D7%98%D7%A8%20%D7%91/WEB/Personal%20exercises/Yael-Itzhaky/templates/home%20page.html" target="_blanke"> Home page</a></li>
        <li><a href="file:///C:/Users/100ya/OneDrive/Desktop/%D7%A9%D7%A0%D7%94%20%D7%92%20%D7%A1%D7%9E%D7%A1%D7%98%D7%A8%20%D7%91/WEB/Personal%20exercises/Yael-Itzhaky/templates/Contact.html?fullname=cccc&email=dddd%40hhhh&telephone=0544363876&satisfaction=3&thoughts=dddddddddddddd&agree=on" target="_blanke">contact me:)</a></li>
        <li><a href="https://www.instagram.com/stories/highlights/18127367593105058/" target="_blanke">instagram</a></li>
        <li><a href="https://www.thejewelryjunkie.com/collections/necklaces" target="_blanke">boho style</a></li>
    </footer>
</div>
</form>
</body>
</html>