<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script defer src="../static/JSpersonal.js"></script>
    <title>Yael's necklaces</title>

</head>

<body>
    
    
        <div class="navbar">
            <img src="../static/logo.jpeg" class="logo bigger">
            <nav>
                <ul>
                    <li><a href="homePage.html">Home</a></li>
                    <li><a href="ContactMe.html">Contact Me :)</a></li>
                </ul>
            </nav>
            <img  src="../static/menu-burger.png" class="menu bigger">
        </div>
 

    <div class="grid-container-Home-page">

        <div class="grid-item grid-item-1">
            <header>Design your look, your day and your life</header>
        </div>
        <div class="grid-item grid-item-2">
            <h2>Welcome to my site!</h2><br>
            <p >In it I present to you my works to be inspired and inspired by others. I would love for you to
                collaborate with my venture to create a non-profit website.</p>
        
        </div>
        <div  class="grid-item grid-item-3 Home" >
        </div>
        <div class="grid-item grid-item-4">
            <footer>
                <div class="footer-content">
                    <h3>Follow us</h3> <br>
                    <p>You can always be impressed and find more of my works here
                        I would love for you to follow and share :)</p>
                    <ul class="socials">
                        <li><a href="to _blank" target="_blanke"> <i class="fab fa-facebook"></i></a></li>
                        <li><a href="to _blank" target="_blanke"> <i class="fab fa-twitter"></i></a></li>
                        <li><a href="to _blank" target="_blanke"> <i class="fab fa-google-plus "></i></a></li>
                        <li><a href="to _blank" target="_blanke"> <i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="to _blank" target="_blanke"> <i class="fab fa-youtube"></i></a></li>

                    </ul>
                </div>
            </footer>

        </div>
    </div>





</body>


</html>