<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yael's necklaces</title>
    
</head>

<body>
    <div style="text-align: center">
    <h1 style="color: rgb(121, 201, 201); margin: 50px">Design your look, your day and your life</h1>
    <p>Handmade necklaces for sale and inspiration</p>
    <button style="color: rgb(233, 229, 240); background: rgb(180, 179, 245); padding: 4px ;margin-bottom: 50px "><a href="file:///C:/Users/100ya/OneDrive/Desktop/%D7%A9%D7%A0%D7%94%20%D7%92%20%D7%A1%D7%9E%D7%A1%D7%98%D7%A8%20%D7%91/WEB/Personal%20exercises/Yael-Itzhaky/templates/Contact.html?fullname=cccc&email=dddd%40hhhh&telephone=0544363876&satisfaction=3&thoughts=dddddddddddddd&agree=on">click here to contact</a></button> <br>
    <img src="C:\Users\100ya\OneDrive\Desktop\שנה ג סמסטר ב\WEB\Personal exercises\Yael-Itzhaky\static\WhatsApp Image 2022-04-08 at 10.16.37.jpeg" alt="ochen necklaces" width="400px" > <br><br>
    <h3 style="color: rgb(114, 74, 160);">FOOTER:</h3>
    <footer>
        <li style="color: rgb(179, 178, 228);" ><a href="file:///C:/Users/100ya/OneDrive/Desktop/%D7%A9%D7%A0%D7%94%20%D7%92%20%D7%A1%D7%9E%D7%A1%D7%98%D7%A8%20%D7%91/WEB/Personal%20exercises/Yael-Itzhaky/templates/home%20page.html" target="_blanke"> Home page</a></li>
        <li><a href="file:///C:/Users/100ya/OneDrive/Desktop/%D7%A9%D7%A0%D7%94%20%D7%92%20%D7%A1%D7%9E%D7%A1%D7%98%D7%A8%20%D7%91/WEB/Personal%20exercises/Yael-Itzhaky/templates/Contact.html?fullname=cccc&email=dddd%40hhhh&telephone=0544363876&satisfaction=3&thoughts=dddddddddddddd&agree=on" target="_blanke">contact me:)</a></li>
        <li><a href="https://www.instagram.com/stories/highlights/18127367593105058/" target="_blanke">instagram</a></li>
        <li><a href="https://www.thejewelryjunkie.com/collections/necklaces" target="_blanke">boho style</a></li>
    </footer>
</div>
</body>
</html>